<footer>
    <h2>Contact Us</h2>
    <p>Email: <a href="mailto:landsat@gmail.com">landsat@gmail.com</a></p>
    <p>Phone: <a href="tel:+01100000000">01100000000</a></p>
    
    <div class="social-icons">
        <a href="https://facebook.com" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
    
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>
